*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Poppins", sans-serif;
  background: #000;
}

#root {
  min-height: 100vh;
}
