*{
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
  
}
body{
    margin: 0;

}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: whitesmoke;
}
/* Navbar Starts Here */
.navbar{
    display: flex;
    width: 100%;
    background-color:rgba(254, 87, 26, 1);
    height: 50px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav-header a,p{
    color: white;
    text-decoration: none;
    padding: 0 5vw;
}
.nav-ham i{
    color: white;
    padding: 0 6vw;
    cursor: pointer;
}
/* Navbar Ends Here */



/* Search Starts Here  */
.search{
    display: flex;
    flex-direction: column;
    background-image: url(./assets/table.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh; 
    position: relative;
    justify-content: center;
    align-items: center;
}
.search-bar {
    display: flex;
    gap: 1vw;
    width: 25vw;
    

}
.search-bar input{
    display: flex;
    width: 1000px;
    height: 50px;
    border-radius: 25px;
    font-size: 2.3vh;
    /* padding: 0 10px; */
    
}
.search-bar button{
    border-radius: 50%;
    background-color: rgba(254, 87, 26, 1);
    color: white;
    width: 150px;
    /* height: 50px; */
    border: 1px solid white;
    cursor: pointer;
}
.search-bar button:hover{
    background-color: white;
    color: rgba(254, 87, 26, 1);
    transition: 1s;

}
#search-text1{
    font-weight: bolder;
    font-size: 1.7vw;
}
#search-text2{
    font-size: 1vw;
}
/* Search Ends Here  */

/* Categories Starts Here  */
.categories-header h1{
    padding: 0 5vw;
    margin-top: 10vh;
    margin-bottom: 0.9vh;
    font-weight: 600;
    font-size: 25px;
    
    
}
.border{
    border: 3.5px solid rgba(254, 87, 26, 1);
    width: 60px;
    margin-left: 5vw;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    position: relative;
    
    
}
.cards img{
    width: calc((100% - 80px) / 5);
    width: 16vw;
    border-radius: 5px;
    
    cursor: pointer;
}
.cards img:hover{
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}
.cards-item{
    position: relative;
    background-color: white;
    margin: 10px;
}

.cards-item span {
    position: absolute;
    left: 11vw;
    top: 1vh;
    background-color: rgba(254, 87, 26, 1);
    border-radius: 5px;
    padding: 0.3vw;
    color: white;
    transform: scale(0.8);
    cursor: pointer;


}
#largeItem span{
    left: 7vw;
}
/* Categories Ends Here  */


/* Categories Veg Starts Here  */
.categories-veg{
    margin:7vh auto;
    width: 80vw;
    border: 2px solid rgba(254, 87, 26, 1);
    background-color: rgba(211, 211, 211, 0.068);

}
.categories-veg h2{
    color: rgba(254, 87, 26, 1);
    padding-left: 5vw;
}
.categories-veg p{
    color: grey;
    line-height: 3.3vh;
}
.veg-items{
  
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
}
.veg-cards{
   
    background-color: white;
    margin: 10px 10px;
    width: 16vw;
    border-radius: 5px;
   
}
.veg-cards img{
    
    width: calc((100% - 80px) / 5);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
   
}
.veg-cards span{
   
    padding: 0.3vw;
    color:black;
    cursor: pointer;
    font-weight: 550;
    
}
/* Categories Veg Ends Here  */



/* Baingan Bharta Starts Here  */

.bainganbhartapage  {
    display: flex;
    width: 89vw;
    margin-top: 7vh;
    margin-left: 3vw;
    background-color: rgba(254, 87, 26, 1);
    height: 50px;
    color: white;
    align-items: center;
    
}
.bainganbhartapage i{
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}
.details-header h1{
   
    margin-left: 3vw;
    margin-bottom: 0.9vh;
    font-weight: 600;
    font-size: 25px;
}
.border-baingan{
    border: 3.5px solid rgba(254, 87, 26, 1);
    width: 140px;
    margin-left: 3vw;
    margin-bottom: 20px;


}
.details-table{
    
    margin-left: 3vw;
    background-color: white;
    width: 90%;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
}
.details-main{
    display: flex;
    flex-wrap: wrap;
}
/* .bainganbhartaimg{
    margin-left:19.2px ;
    width: 500px;
} */

.bainganbhartaimg img{
    margin-top: 5vh;
    margin-left: 2.5vw;
    width: 100%;
    border-radius: 5px;
    


}
#veg1 a {
    text-decoration:none;
}
.bainganbhartaimg ,.baingan-ingredients{
    /* min-width: 0; */
    flex: 1;
}
.baingan-ingredients{
    margin-top: 7vh;
    margin-left: 4vw;
    /* min-width: 320px; */


}
.baingan-ingredients h4{
    color:rgba(254, 87, 26, 1) ;
    font-size: 23px;
    border-bottom: 1.6px solid rgba(254, 87, 26, 1);
    padding-bottom: 2vh;

}
.baingan-ingredients p{
    color: black;
    padding: 0 ;
    line-height: 1.6;
    
    
}
#tags button{
    background-color: white;
    color: rgba(254, 87, 26, 1);
    border: 1px solid  rgba(254, 87, 26,1);
    border-radius: 5px;
    margin-left: 0.5vw;
    cursor: pointer;
}
#tags button:hover{
    color: white;
    background-color: rgba(254, 87, 26, 1);
    transition: 1s;
}
.ingredients{
    background-color:rgba(254, 87, 26, 1) ;
    width: 90%;
    height: auto;
    color: white;
    border-radius: 5px;
    padding: 1vh ;

}
.ingredients h1{
    font-size: 20px;
    margin-left: 15px;
    padding: 10px 10px;

}
.ingredients ul{

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    row-gap: 15px;
    margin: 0;
    list-style: none;
}
.ingredients ul li {
    
    color: white;
    width: 30%;
    display: flex;
    align-items: center; 
    
}

.ingredients ul li span{
    background-color: rgb(4, 101, 142);
    border-radius: 50%;
    border: 1px solid white;
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 20px;
    flex-shrink: 0;
    
    


}
.measure{
    width: 90%;
  
    margin-left: 25px;

}
.measure-header p{
    color: black;
    padding: 0;
    
    font-weight: 600;

}
.measures-items{
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    width: 100%;
    
    padding: 20px ;

}

.measures-items ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    row-gap: 15px;
    


}
.measures-items ul li {
    width: 50%;
    display: flex;
    align-items: center;
    font-weight: 530;
    
   

}
.measures-items ul li i{
    color: rgba(254, 87, 26, 1);
    width: 15px;
    margin-right: 10px;
    text-align: center;
    margin-left: 3vw;
    
}
.instructions-header h1{
    color: black;
    padding: 0;
    margin-left: 2.2vw;
    font-size: 20px;
}

.instructions-list ul {
    list-style: none;
    
    width: 80%;
    margin: 0;

}
.instructions-list ul li{
    display: flex;
    align-items: flex-start;
    line-height: 5vh;
}
.instructions-list ul li i {
    color: rgba(254, 87, 26, 1);
    margin-right: 1vw;
    padding-top:7px ;
}
/* Baingan Bharta Ends Here  */





























/* Media Queries */


@media (max-width: 1200px) {
    .veg-cards {
        
        width: calc(25% - 20px);
    }
    .details-main{
        /* width: 70%; */
    }
    
}
@media (max-width: 992px) {
    .veg-cards {
        
        width: calc(33.33% - 20px);
    }
    .details-main {
       
        flex-direction: column;
    }
}






@media (max-width :768px) {
    .container{
       height: 100%;
    }
    .search{
        margin-top:5vh ;
    }
    .search-bar input{
        justify-content: center;
        width: 50%; 
        height: 48px;
        border-radius: 24px;
        font-size: 1rem;
        margin-left: 130px;

    }
    .search-bar button{
        flex-shrink: 0;
        width: 48px;
        height: 48px;
    }
    .search-bar {
        width: 90%; 
    }
     #search-text1 {
        font-size:5vw; 
    }

    #search-text2 {
        font-size: 1rem; 
    }
    
    
    .cards img{
        width: calc(50% - 20px);
        
    }
    .cards-item{
        height: 150px;
        margin-right: 70px;
    }
    .cards-item img {
        height: 100%;
        width: 100%;
    }

    .veg-cards img{
        /* width: calc(50% - 20px); */

    }
    .bainganbhartaimg{
        width: 500px;
    }
    .bainganbhartaimg img{
        width: 100%;

    }

    .ingredients ul li, .measures-items ul li {
        
        width: 100%;
    }
}
@media (max-width :426px){
    .container{
        background-color: whitesmoke;
        height: 100%;
        width: 100%;
    }
    .search-bar input{
        width: 200px;
        margin: 0px 10px;
        margin-left: 30px;
       
         
    }
    /* .cards img{
        width: 100%;
    } */
    .cards-item{
        width: 900px;
        
        /* margin-left: 70px; */
    }
    .cards-item img{
        width: 100%;
    }
    .veg-cards {
       
        width: 100%;
        max-width: 350px;
    }
    .veg-cards img{
        width: 100%

    }
    /* .details-main{
        width: 300px;
    } */
    #source {
        /* display: flex;
        flex-wrap: wrap;
        height: 100px; */
        overflow-wrap: break-word;
        margin-bottom: 20px;

    }
    .bainganbhartaimg {
        width: 270px;
    } 
    .bainganbhartaimg img{
        width: 100%;
    }
    .baingan-ingredients h4{
        width: 250px;
    }
    .baingan-ingredients p{
        width: 250px;
        height: 30px;
        /* display: flex; */
    }
    .ingredients {
        width: 250px;
    }


}

















