*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    height: 200vh;
    

    /* width: 100%; */
}
.container{
    width: 100%;
    height: 80%;
    position: relative;
    background-color: whitesmoke;
}
.navbar{
    display: flex;
    width: 100%;
    background-color:rgba(254, 87, 26, 0.875);
    height: 50px;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
}
.nav-header a,p{
    color: white;
    text-decoration: none;
    padding: 0 5vw;
}
.nav-ham i{
    color: white;
    padding: 0 6vw;
    cursor: pointer;
}
.search{
    display: flex;
    flex-direction: column;
    background-image: url(./assets/table.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh; 
    position: relative;
    justify-content: center;
    align-items: center;
}
.search-bar {
    display: flex;
    gap: 1vw;
    width: 25vw;
    min-width: 320px;
    

}
.search-bar input{
    display: flex;
    width: 1000px;
    height: 5vh;
    border-radius: 3vw;
    
}
.search-bar button{
    border-radius: 50%;
    background-color: rgba(254, 87, 26, 0.875);
    color: white;
    width: 100px;
    height: 5vh;
    border: 1px solid white;
    cursor: pointer;
}
.search-bar button:hover{
    background-color: white;
    color: rgba(254, 87, 26, 0.875);
    transition: 1s;

}
#search-text1{
    font-weight: bolder;
    font-size: 1.7vw;
}
#search-text2{
    font-size: 1vw;
}
.categories-header h1{
    padding: 0 5vw;
    margin-bottom: 0.9vh;
    font-weight: 600;
    font-size: 25px;
    
    
}
.border{
    border: 3.5px solid rgba(254, 87, 26, 0.875);
    width: 6vw;
    margin-left: 5vw;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    position: relative;
    
    
}
.cards img{
    width: calc((100% - 80px) / 5);
    width: 16vw;
    /* background-color: white; */
    border-radius: 5px;
    
    cursor: pointer;
}
.cards img:hover{
    transform: scale(0.8);
    transition: 0.5s ease-in-out;
}
.cards-item{
    position: relative;
    background-color: white;
    margin: 10px;
}

.cards-item span {
    position: absolute;
    left: 11vw;
    top: 1vh;
    background-color: rgba(254, 87, 26, 0.875);
    border-radius: 5px;
    padding: 0.3vw;
    color: white;
    transform: scale(0.8);
    cursor: pointer;


}
#largeItem span{
    left: 7vw;
}
.categories-veg{
    margin:7vh auto;
    width: 80vw;
    height: 40vh;
    border: 2px solid rgba(254, 87, 26, 0.875);
    background-color: whitesmoke;

}
.categories-veg h2{
    color: rgba(254, 87, 26, 0.875);
    padding-left: 5vw;
}
.categories-veg p{
    color: grey;
    line-height: 3.3vh;
}
.veg-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 5vw;
    gap: 24px;
   
}
.veg-cards{
    width:calc(20%-20px);
    min-width:180px;
    background-color: white;
    text-align: center;
    cursor: pointer;
   
}
.veg-cards img{
    
    width: 180px; 
    height: 180px;
    object-fit: cover; 
   
}
.veg-cards span{
    display: block;
    padding: 1rem;
    font-weight: 600;
    color: #333;
    
}




























@media (max-width :768px) {
    .container{
       height: 100%;
    }
    .search-bar input{
        width: 60%; 
        height: 48px;
        border-radius: 24px;
        font-size: 1rem;
        padding: 0 1rem;
        margin: auto;

    }
    .search-bar button{
        flex-shrink: 0;
        width: 48px;
        height: 48px;
    }
    .search-bar {
        width: 90%; 
    }
     #search-text1 {
        font-size:5vw; 
    }

    #search-text2 {
        font-size: 1rem; 
    }
    
    .cards img{
        width: calc(50% - 20px);
    }
    
}
@media (max-width :480px){
    .container{
        background-color: whitesmoke;
        height: 100%;
    }
    .cards img{
        width: 100%;
    }
}

















